<div class="row">
  <div class="col offset-s1 s10 offset m1 m10 offset-l1 l10 green lighten-4">
    <div class="col s12 m6 l6">
      <mz-card
        class="blue-grey darken-1 white-text cursorPointer"
        [horizontal]="false"
        [hoverable]="true" (click)="goToFood()">
        <mz-card-image>
          <img src="assets/salad.jpg" />
        </mz-card-image>
        <mz-card-image-title>
          Comida sabrosa
        </mz-card-image-title>
        <mz-card-content>
          Seleccione los alimentos que te gustaría consumir.
        </mz-card-content>
      </mz-card>

      <mz-card
        class="blue-grey darken-1 white-text cursorPointer"
        [horizontal]="false"
        [hoverable]="true" (click)="goToMeals()">
        <mz-card-image>
          <img src="assets/salad.jpg" />
        </mz-card-image>
        <mz-card-image-title>
          Elige la hora de comidas
        </mz-card-image-title>
        <mz-card-content>
          Puedes personalizar los horarios en los cuales puedes comer.
        </mz-card-content>
      </mz-card>
    </div>
    <div class="col s12 m6 l6">
      <mz-card
        class="blue-grey darken-1 white-text cursorPointer"
        [horizontal]="false"
        [hoverable]="true" (click)="goToTracing()">
        <mz-card-image>
          <img src="assets/salad.jpg" />
        </mz-card-image>
        <mz-card-image-title>
          Seguimiento
        </mz-card-image-title>
        <mz-card-content>
          Puedes seguir el seguimiento de tus dietas.
        </mz-card-content>
      </mz-card>
      <mz-card
        class="blue-grey darken-1 white-text cursorPointer"
        [horizontal]="false"
        [hoverable]="true" (click)="goToDiet()">
        <mz-card-image>
          <img src="assets/salad.jpg" />
        </mz-card-image>
        <mz-card-image-title>
          Generar dieta
        </mz-card-image-title>
        <mz-card-content>
          Consulta la dieta preparada para el día de hoy.
        </mz-card-content>
      </mz-card>
    </div>
  </div>
</div>