<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1 center-align menu-title">
    <span>
      Menú Principal
    </span>
  </div>
  <div class="col s12 m10 offset-m1 l10 offset-l1">

    <div class="col s12 m10 offset-m1 l4">
      <mz-card class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image (click)="goToFood()">
          <img src="assets/menu_2.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title" (click)="goToFood()">
          Personaliza tus comidas
        </mz-card-image-title>
        <mz-card-content>
          Elige alimentos de tu preferencia.
          <i mz-icon-mdi (click)="Meals.openModal()" [align]="'right'" [icon]="'information'" [size]="'small'"></i>
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m10 offset-m1 l4">
      <mz-card class="teal darken-1 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image (click)="goToMeals()">
          <img src="assets/menu_3.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title" (click)="goToMeals()">
          Elige la hora de comidas
        </mz-card-image-title>
        <mz-card-content>
          Personaliza tús horarios de comida.
          <i mz-icon-mdi (click)="Meals.openModal()" [align]="'right'" [icon]="'information'" [size]="'small'"></i>
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m10 offset-m1 l4">
      <mz-card class="teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image (click)="goToTracing()">
          <img src="assets/menu_1.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title" (click)="goToTracing()">
          Seguimiento
        </mz-card-image-title>
        <mz-card-content>
          Consulta el seguimiento de tu dieta.
          <i mz-icon-mdi (click)="Meals.openModal()" [align]="'right'" [icon]="'information'" [size]="'small'"></i>
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m10 offset-m1 l4">
      <mz-card class="teal darken-1 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image (click)="goToDiet()">
          <img src="assets/menu_4.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title" (click)="goToDiet()">
          Generar dieta
        </mz-card-image-title>
        <mz-card-content>
          Una dieta hecha a tu medida cada día.
          <i mz-icon-mdi (click)="Meals.openModal()" [align]="'right'" [icon]="'information'" [size]="'small'"></i>
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m10 offset-m1 l4">
      <mz-card class="teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image (click)="goToNutInfo()">
          <img src="assets/menu_5.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title" (click)="goToNutInfo()">
          Información nutricional.
        </mz-card-image-title>
        <mz-card-content>
          Los valores nutrimentales de tus alimentos.
          <i mz-icon-mdi (click)="Meals.openModal()" [align]="'right'" [icon]="'information'" [size]="'small'"></i>
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m10 offset-m1 l4">
      <mz-card class="teal darken-1 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image (click)="goToMeasures()">
          <img src="assets/menu_6.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title" (click)="goToMeasures()">
          Actualiza medidas
        </mz-card-image-title>
        <mz-card-content>
          Gestiona las medidas de tus alimentos.
          <i mz-icon-mdi (click)="Meals.openModal()" [align]="'right'" [icon]="'information'" [size]="'small'"></i>
        </mz-card-content>
      </mz-card>
    </div>

    <!-- Modal !-->
    <mz-modal #Food [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Personaliza tus comidas</div>
      </mz-modal-header>
      <mz-modal-content>
        Aquí puedes elegir los alimentos de tu preferencia, selecciona el grupo de alimento y elige los que más te gusten. Las dietas seran arrojadas con base a los alimentos seleccionados.
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modal !-->
    <!-- Modal !-->
    <mz-modal #Meals [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Elige la hora de comidas</div>
      </mz-modal-header>
      <mz-modal-content>
        Elige la hora para las diferentes comidas, las colaciones pueden ser opcionales. Dependiendo la hora en la que se registre la comida obtendras una notificación.
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modal !-->
    <!-- Modal !-->
    <mz-modal #Tracing [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Seguimiento</div>
      </mz-modal-header>
      <mz-modal-content>
        Aquí podras ver las estadisticas por fecha de tu progreso, recuerda estar actualizando tu peso constantemente.
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modal !-->
    <!-- Modal !-->
    <mz-modal #Diet [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Generar dieta</div>
      </mz-modal-header>
      <mz-modal-content>
        En este apartado podrás seleccionar el propósito de tu dieta, esta te arrojara la cantidad de alimentos por grupo para consumir durante el día.
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modal !-->
    <!-- Modal !-->
    <mz-modal #NutriInf [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Información nutrimental</div>
      </mz-modal-header>
      <mz-modal-content>
        Aquí podrás consultar la información nutricional de tus alimentos favoritos.
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modal !-->
    <!-- Modal !-->
    <mz-modal #Record [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Actualiza medidas</div>
      </mz-modal-header>
      <mz-modal-content>
        Aquí podrás actualizar tu progreso, recuerda medirte y pesarte constantemente. Te recomendamos acudir a un especialista para mejores resultados.
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modal !-->

  </div>
</div>
