<div class="container">
  <span class="title">
    Seguimiento
  </span>
  <div class="wrap z-depth-5">
    <table class="striped highlight centered">
      <thead>
        <tr>
          <th>Peso</th>
          <th>Fecha</th>
          <th>Calorías consumidas</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of this.tracings">
          <td>{{item.weight}}</td>
          <td>{{item.weight}}</td>
          <td>{{item.calories}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
