<div class="container">
  <div class="wrap">
    <div class="form-title" style="background-image: url(../../../assets/bg-login.jpg);">
      <span class="title">
        Highway to Health
      </span>
    </div>
    <div class="row">


        <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
          <div class="input-field col s12 offset-m1 m10 offset-l1 l10">
            <input id="username" formControlName="username" type="text" class="validate" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <label for="username">Nombre de usuario</label>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">*El nombre de usuario es requerido</div>
            </div>
          </div>

          <div class="input-field col s12 offset-m1 m10 offset-l1 l10">
            <input id="password" formControlName="password" type="password" class="validate" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <label for="password">Contraseña</label>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">*La contraseña es requerida</div>
              <div *ngIf="f.password.errors.minlength">*La contraseña debe ser por lo menos de 6 caracteres</div>
            </div>
          </div>
        </form>
        <div style="text-align: center;">
          <a (click)="checkUser()" class="btn waves-effect waves-light btn"><i class="material-icons right">send</i>Iniciar sesión</a>
          <a routerLink="/create-user" class="waves-effect waves-light btn">Crear cuenta</a>
        </div>


    </div>
  </div>
</div>
