button{
    margin-top: 1%;
    margin-left: 1%;
}

.cursorPointer{
    cursor: pointer;
}

.title-hdiw {
  font-weight: bold;
  font-size: 30px;
  color: #26a69a;
  text-align: center;
  padding-top: 20px;
}

.info {
  padding-bottom: 10px;
}
