<mz-sidenav [backgroundClass]="'side-nav'" [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">

  <mz-sidenav-header (click)="goToHome()" class="cursorPointer center">
    Highway to Health
  </mz-sidenav-header>

  <mz-sidenav-divider></mz-sidenav-divider>

  <div class="profile" (click)="profile.openModal()">
    <mz-sidenav-subheader><i class="material-icons">account_circle</i>{{this.userService.actualUser.name}} {{this.userService.actualUser.lastname}}</mz-sidenav-subheader>
    <mz-sidenav-subheader>{{this.userService.actualUser.email}}</mz-sidenav-subheader>
  </div>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a routerLink="/diet" class="waves-effect waves-teal"><i class="material-icons">equalizer</i>Generar dieta</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a routerLink="/measures" class="waves-effect waves-teal"><i class="material-icons">edit</i>Actualizar medidas</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a routerLink="/tracing" class="waves-effect waves-teal"><i class="material-icons">assessment</i>Seguimiento</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a routerLink="/meal-preferences" class="waves-effect waves-teal"><i class="material-icons">alarm_add</i>Elige horas de comidas</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a routerLink="/food-preferences" class="waves-effect waves-teal"><i class="material-icons">star</i>Elige los alimentos</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a routerLink="/nutritional-info" class="waves-effect waves-teal"><i class="material-icons">restaurant_menu</i>Información nutricional</a>
  </mz-sidenav-link>

  <mz-sidenav-subheader>Redes Sociales</mz-sidenav-subheader>

  <mz-sidenav-link>
    <a (click)="soon()" class="waves-effect waves-teal"><i mz-icon-mdi [icon]="'facebook-box'"></i>Facebook</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a (click)="soon()" class="waves-effect waves-teal"><i mz-icon-mdi [icon]="'twitter'"></i>Twitter</a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a routerLink="/" class="waves-effect waves-teal"><i class="material-icons">mail</i>Contactanos</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a (click)="closeSession()" class="waves-effect waves-teal"><i class="material-icons">power_settings_new</i>Cerrar sesión</a>
  </mz-sidenav-link>

</mz-sidenav>

<button mz-button id="btn-sidenav-demo"><i class="material-icons right">menu</i>
  Menu
</button>

<!-- Modals !-->
<mz-modal #profile [fixedFooter]="true" [options]="modalOptions">
  <mz-modal-header>
    <div class="title-hdiw info">{{this.userService.actualUser.name}} {{this.userService.actualUser.lastname}}</div>
  </mz-modal-header>
  <mz-modal-content>
    <!--=========================Form============================-->
        
    <!--=========================Form============================-->
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Guardar</button>
  </mz-modal-footer>
</mz-modal>
<!-- /Modals !-->
