<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1 center-align menu-title">
    <span>
      ¿Qué alimentos le gustaría consumir?
    </span>
  </div>
  <div class="col s12 m10 offset-m1 l10 offset-l1">

    <!-- Cards !-->
    <div class="col s12 m4 l3">
      <mz-card (click)="kind_1.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_1.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Frutas
        </mz-card-image-title>
        <mz-card-content style="padding: 0px;">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_2.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_2.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Verduras
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_3.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_3.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Cereales sin grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_4.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_4.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Cereales con grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_5.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_5.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Leguminosas
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_6.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_6.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          A.O.A muy bajos en grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_7.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_7.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          A.O.A bajos en grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_8.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_8.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          A.O.A moderado en grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_9.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_9.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          A.O.A alto en grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_10.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_10.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Leche descremada
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_11.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_11.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Leche semidescremada
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_12.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_12.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Leche entera
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_13.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_13.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Leche con azucar
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_14.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_14.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Aceites y grasas
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_15.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_15.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Aceites y grasas con proteina
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_16.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_16.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Azucares sin grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3 offset-l3">
      <mz-card (click)="kind_17.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_17.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Azucares con grasa
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>

    <div class="col s12 m4 l3">
      <mz-card (click)="kind_18.openModal()" class=" teal lighten-2 white-text cursorPointer" [horizontal]="false" [hoverable]="true">
        <mz-card-image>
          <img src="assets/kind_18.jpg" />
        </mz-card-image>
        <mz-card-image-title class="title">
          Alimentos libres de energía
        </mz-card-image-title>
        <mz-card-content class="nopad">
        </mz-card-content>
      </mz-card>
    </div>
    <!-- /Cards !-->

    <!-- Modals !-->
    <mz-modal #kind_1 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Frutas</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.fruits">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_2 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Verduras</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.vegetables">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_3 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Cereales sin grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.cereals1">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_4 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Cereales con grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.cereals2">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_5 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Leguminosas</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.legumes">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_6 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">A.O.A muy bajos en grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.AOA1">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_7 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">A.O.A bajos en grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.AOA2">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_8 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">A.O.A moderado en grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.AOA3">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_9 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">A.O.A alto en grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.AOA4">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_10 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Leche descremada</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.milk1">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_11 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Leche semidescremada</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.milk2">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_12 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Leche entera</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.milk3">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_13 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Leche con azucar</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.milk4">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_14 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Aceites y grasas</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.oils1">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_15 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Aceites y grasas con proteinas</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.oils2">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_16 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Azucares sin grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.sugars1">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_17 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Azucares con grasa</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.sugars2">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>

    <mz-modal #kind_18 [fixedFooter]="true" [options]="modalOptions">
      <mz-modal-header>
        <div class="title-hdiw info">Alimentos libres de energía</div>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="setFoodPreferences" (ngSubmit)="onSubmit()">
          <mz-checkbox-container *ngFor="let item of this.freeEnergy">
            <input mz-checkbox
              [label]="item.name"
              [id]="item.id"
              type="checkbox"
              [filledIn]="true">
          </mz-checkbox-container>
        </form>
      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Ok</button>
      </mz-modal-footer>
    </mz-modal>
    <!-- /Modals !-->

    <div class="col s12 m12 l12 center-align btn-save">
      <button mz-button class="btn-floating" (click)="setFood()" [float]="true" [large]="true"><i class="material-icons">save</i> Guardar</button>
    </div>

  </div>
</div>
