.row{
    margin-top: 1.5%;
    margin-bottom: 2.5%;
}

.cursorPointer{
    cursor: pointer;
    margin-top: 2.5%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    border-style: solid;
    border-color: #26a69a;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.menu-title {
  font-weight: bold;
  font-size: 60px;
  color: #26a69a;
  text-align: center;
  margin-bottom: 20px;
}

.modal {
  background-color: #26a69a !important;
}

.btn-save {
  margin-top: 20px;
}
