.cursorPointer{
    cursor: pointer;
    margin-top: 2.5%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    border-style: solid;
    border-color: #26a69a;
    border-radius: 10px;
    overflow-x: hidden;
    position: relative;
}

.container {
  width: 100%;
  padding: 15px;
  margin-top: 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e6fff2;
  font-family: Lato;
}

.wrap {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  border-style: solid;
  border-color: #26a69a;
  overflow: hidden;
  position: relative;
}

.create {
  margin-top: 10px;
}

.title-hdiw {
  font-weight: bold;
  font-size: 30px;
  color: #26a69a;
  text-align: center;
  padding-top: 20px;
}

.title-hdiw-m {
  font-weight: bold;
  font-size: 12px;
  color: #26a69a;
  text-align: center;
  padding-top: 20px;
}


.title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.info {
  padding-bottom: 10px;
}

.menu-title {
  font-weight: bold;
  font-size: 60px;
  color: #26a69a;
  text-align: center;
  margin-bottom: 20px;
}
