<div class="container-dnny">
  <div class="wrap z-depth-5">

    <div class="form-title" style="background-image: url(../../../assets/bg-login.jpg);">
      <span class="title">
        Actualiza tus Medidas
      </span>
    </div>

    <div class="row">

        <form [formGroup]="editMeasures">
<!--input-field col s12 offset-m1 m5 offset-l1 l5-->
          <div class="input-field col s12 m6 l4">
            <input id="age" formControlName="age" type="number" class="validate" [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
            <label class="active" for="age">Edad</label>
            <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
              <div *ngIf="f.age.errors.required">*La edad es requerida</div>
            </div>
          </div>

          <div class="input-field col s12 m6 l4">
            <input id="weight" formControlName="weight" type="text" class="validate" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }">
            <label class="active" for="weight">Peso (kg)</label>
            <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
              <div *ngIf="f.weight.errors.required">*El peso es requerido</div>
              <div *ngIf="f.weight.errors.minlength">*El peso debe ser por lo menos de 2 caracteres</div>
            </div>
          </div>

          <div class="input-field col s12 m6 l4">
            <input id="height" formControlName="height" type="text" class="validate" [ngClass]="{ 'is-invalid': submitted && f.height.errors }">
            <label class="active" for="height">Altura (cm)</label>
            <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
              <div *ngIf="f.height.errors.required">*El nombre es requerido</div>
              <div *ngIf="f.height.errors.minlength">*La estatura debe ser por lo menos de 3 caracteres</div>
            </div>
          </div>

          <div class="input-field col s12 m6 l6" style="margin-top:0px;">
            <mz-select-container>
              <select mz-select formControlName="activity" id="options-select" [placeholder]="'Actividad a la semana'" [ngClass]="{'is-invalid': submitted && f.activity.errors}">
                <option value="1">Nada de ejercicio</option>
                <option value="2">Ejercicio ligero (dos días por semana)</option>
                <option value="3">Ejercicio moderado (cuatro días por semana)</option>
                <option value="4">Deporte regular (seis días a la semana)</option>
                <option value="5">Deportista (diario)</option>
              </select>
              <div *ngIf="submitted && f.activity.errors" class="invalid-feedback">
                <div *ngIf="f.activity.errors.required">*La actividad es requerida</div>
              </div>
            </mz-select-container>
          </div>

          <div class="invalid-feedback center" *ngIf="submitted && this.editMeasures.invalid">*Error en el formulario, revise que la información sea correcta</div>
        </form>
    </div>

    <div class="m-buttons">
        <a (click)="editMeasuresUser()" class="waves-effect waves-light btn"><i mz-icon-mdi [icon]="'arrow-right-bold'" [align]="'right'"></i>Actualizar</a>
    </div>

  </div>
</div>
