<div>
  <table class="responsive-table">
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Porción</th>
          <th>Unidad</th>
          <th>Peso neto</th>
          <th>Calorías</th>
          <th>Proteínas</th>
          <th>Lípidos</th>
          <th>Carbohidratos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.FoodInfo.name}}</td>
        <td>{{this.FoodInfo.kind}}</td>
        <td>{{this.FoodInfo.portion}}</td>
        <td>{{this.FoodInfo.unity}}</td>
        <td>{{this.FoodInfo.net_weight}}</td>
        <td>{{this.FoodInfo.calories}}</td>
        <td>{{this.FoodInfo.protein}}</td>
        <td>{{this.FoodInfo.lipids}}</td>
        <td>{{this.FoodInfo.cho}}</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
