<div>
  <table class="responsive-table">
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Porción</th>
          <th>Unidad</th>
          <th>Peso neto</th>
          <th>Calorías</th>
          <th>Proteínas</th>
          <th>Lípidos</th>
          <th>Carbohidratos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.UserFoods">
        <td>{{item.name}}</td>
        <td>{{item.kind}}</td>
        <td>{{item.portion}}</td>
        <td>{{item.unity}}</td>
        <td>{{item.net_weight}}</td>
        <td>{{item.calories}}</td>
        <td>{{item.protein}}</td>
        <td>{{item.lipids}}</td>
        <td>{{item.cho}}</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>